<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,viewport-fit=cover,user-scalable=no">
    <title>{{site_title}}</title>
    <meta name="description" content="{{site_description}}">
    {{#if canonicalUrl}}
      <link rel="canonical" href="{{canonicalUrl}}" />
    {{/if}}

    {{#not customDomain}}
    <meta name="robots" content="noindex">
    {{/not}}

    {{#block "custom-meta-block"}}
    {{/block}}

    {{#if site_logo}}
      <link rel="icon" href="{{site_logo}}">
    {{/if}}

    {{#and site_logo site_url}}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "{{site_url}}",
        "logo": "{{site_logo}}"
    }
    </script>
    {{/and}}

    <!--Add twitter meta data-->
    
    {{#if site_title}}<meta property="og:site_name" content="{{site_title}}">{{/if}}
    <meta property="og:type" content="website">
    {{#or site_url canonical_url}}<meta property="og:url" content="{{#if canonical_url}}{{canonical_url}}{{else}}{{site_url}}{{/if}}">{{/or}}
    {{#if site_title}}<meta property="og:title" content="{{site_title}}">{{/if}}
    {{#if site_discription}}<meta property="og:description" content="{{site_description}}">{{/if}}
    <meta property="og:locale" content="en_US">
    {{#if site_image}}
        <meta property="og:image" content="{{site_image}}">
    {{/if}}
    {{#or site_url canonical_url}}<meta name="twitter:url" content="{{#if canonical_url}}{{canonical_url}}{{else}}{{site_url}}{{/if}}">{{/or}}
    {{#if site_discription}}<meta name="twitter:description" content="{{site_description}}">{{/if}}
    {{#if site_title}}<meta name="twitter:title" content="{{site_title}}">{{/if}}
    {{#if site_image}}
        <meta name="twitter:image" content="{{site_image}}">
        <meta name="twitter:card" content="summary_large_image">
    {{/if}}
    {{#if site_url}}
    <link rel="dns-prefetch" href="{{site_url}}">
    {{/if}}

    {{#if site_icon}}
    <link rel="shortcut icon" href="{{site_icon}}">
    {{/if}}
    <link rel="stylesheet" href="/stylesheets/styles_generated.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />


    {{#and umami_src umami_site_id}}
    <script
      async
      src="{{umami_src}}/script.js"
      data-website-id="{{umami_site_id}}"
    ></script>
    {{/and}}

  </head>
  <body class="text-base" style="min-height: calc(100vh);display: flex; flex-direction: column;">
    <div id="btw-app" style="flex-grow: 1; flex-shrink: 0;">
      <div id="btw-app-inner">
        {{#block "body"}}
        {{/block}}
      </div>
    </div>

    <div style="padding: 5px 15px 10px 10px;display: flex; justify-content: right;"><a style="position: relative; width: 114px; display: flex;" href="https://www.btw.so?ref=powered-by" target="_blank">built with <span style="color: white;">btw</span> <img style="position: absolute;height: 14px;object-fit: cover;right: 0;top: 4.5px;" src="https://res.cloudinary.com/adaface/image/upload/v1624700509/btw-logo.png" alt="btw logo" /></a></div>

    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{!-- Lazy load images --}}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
    <script>
       var lazyLoadInstance = new LazyLoad({
         elements_selector: ".lazy"
      });
    </script>


    {{!-- Overrideable block --}}
    {{#block "eob-block"}}
    {{/block}}

  </body> 
</html>

