{{#content "body"}}
  <div class="flex flex-col sm:flex-row p-4 mt-8">
    <div class="p-4 w-full max-w-xs">
      {{> sidebar}}
    </div>
    <div class="w-full mt-8 sm:mt-0">
      <div class="p-4 space-y-10" style="max-width: 45rem;">
        {{#each notes}}
            <div>
              <h2 class="mb-2 text-xl font-bold">{{yr}}</h2>
              <div class="space-y-8">
                  {{#each notes}}
                  <a class="post-item flex" href="{{url}}">
                    {{#not ../../settings.removeImagesInMainPage}}<div style="margin-top: 5px;" class="hidden sm:block w-32 h-32 flex-shrink-0">{{#if image}}<img class="w-full h-full object-center object-cover" src="{{image}}"/>{{else}}<div class="w-full h-full bg-gray-200"></div>{{/if}}</div>{{/not}}
                    <div class="ml-6 flex flex-col">
                      <h3 class="text-xl font-bold ">{{title}}</h3>
                      <div class="text-xs text-gray-500 mt-1 {{#not ../../settings.removeImagesInMainPage}}mb-4{{else}}mb-2{{/not}}"><span>{{readableDate}}</span></div>
                      <div class="flex-grow">{{{excerpt}}}</div>
                    </div>
                  </a>
                {{/each}}
              </div>  
            </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/content}}